{% extends 'poster/base.html' %}

{% block menu %}
{% for m in menu %}
<a class="nav__link" href="{% url m.url_name %}">{{m.title}}</a>
{% endfor %}
{% endblock menu %}

{% block content %}

    <h1 class="content__title">{{title}}</h1>
    {% for f in films %}
    <div class="content__inner">
        <img class="afishaimg" src="{{f.photo.url}}" >
        <a class="filmlink" href="{% url 'film_about' f.pk %}">
            Название: {{f.name}}({{f.year}})</a>
        <p>Год: {{f.year}}</p>
        <p>Страна: {{f.production}}</p>
        <p>Жанр: {{f.genre}}</p>
        <p>Описание: {{f.description|truncatewords:20}}</p>
    </div>

{% endfor %}
{% endblock content %}